#container
	max-width 1080px
	margin 0 auto 160px
	width 100%
	min-height 100vh
	border 1px solid white
	box-sizing border-box
	.c1, .c2, .c3, .c4, .c5, .c6,
	.c7, .c8, .c9, .c10, .c11, .c12
		box-sizing border-box
		float left
		min-height 1px
	.c1
		width 8.33333%
	.c2
		width 16.66666%
	.c3
		width 25%
	.c4
		width 33.33333%
	.c5
		width 41.66666%
	.c6
		width 50%
	.c7
		width 58.33333%
	.c8
		width 66.66666%
	.c9
		width 75%
	.c10
		width 83.33333%
	.c11
		width 91.66666%
	.c12
		width 100%
	.g1
		margin-left 8.33333%
	.g2
		margin-left 16.66666%
	.g3
		margin-left 25%
	.g4
		margin-left 33.33333%
	.g5
		margin-left 41.66666%
	.g6
		margin-left 50%
	.g7
		margin-left 58.33333%
	.g8
		margin-left 66.66666%
	.g9
		margin-left 75%
	.g10
		margin-left 83.33333%
	.g11
		margin-left 91.66666%
	.g12
		margin-left 100%