body
	background-color blue1
	color white
	
h1
	font-size 28px
	text-align center
	
h2
	font-size 24px
	
h3
	font-size 20px
	
h4
	font-size 16px
	
p
	font-size 14px
	
.card
	margin-bottom 20px
	padding 10px
	background-color red1
	border 1px solid gray
	border-radius 5px
	
button
	background
